.about {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #242424;
  flex-wrap: wrap;
  color: white;
  font-family: "Major Mono Display", monospace;
  margin-top: 2rem;
}
