.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
}

.walkerprueba {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  animation: moveAcrossScreen 45s linear infinite;
}

/* .walker-container {
  position: absolute;
  top: 60dvh;
  left: 0;
  height: 100dvh;
  width: 50px;
  overflow: hidden;
  animation: moveAcrossScreen 35s linear infinite;
}

.walker {
  top: 0;
  left: 0;
  width: 800px;
  animation: walkAnimation 1s steps(16) infinite;
} */

.hidden {
  opacity: 0;
  transition: opacity 0.7s ease;
}

/* @keyframes walkAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-800px);
  }
} */

@keyframes moveAcrossScreen {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(120vw);
  }
}

@media (max-width: 900px) {
  .hero {
    width: 130vw;
    overflow-x: hidden;
  }

  .background {
    width: 130vw;
    overflow-x: hidden;
  }

  .walkerprueba {
    width: 130vw;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .hero {
    overflow-x: hidden;
    width: 200vw;
  }

  .background {
    width: 200vw;
    overflow-x: hidden;
  }

  .walkerprueba {
    width: 200vw;
    overflow-x: hidden;
  }
}
