.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  pointer-events: none;
}

.walker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreen 45s linear infinite;
  pointer-events: none;
}

.zombie {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreenZombie 85s linear infinite;
  pointer-events: none;
}

.zombieStop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreenZombie 85s linear infinite;
  pointer-events: none;
}

.puntito {
  position: absolute;
  top: 61vh;
  left: 0;
  width: 3vw;
  height: 10vh;
  animation: moveAcrossScreenZombie 85s linear infinite;
  cursor: pointer;
}

.unClickable {
  pointer-events: none;
}

.hand {
  position: absolute;
  height: 100dvh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
}

.smash {
  animation: smash 1s linear;
}

.unSmash {
  animation: unSmash 2s linear;
}

.car {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreenCar 20s linear infinite;
  pointer-events: none;
}

.moto {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreenMoto 15s linear infinite;
  pointer-events: none;
}

.runner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  animation: moveAcrossScreenRunner 35s linear infinite;
  pointer-events: none;
}

.hiddenLight {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.hidden {
  opacity: 0;
}

@keyframes moveAcrossScreen {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(120vw);
  }
}

@keyframes moveAcrossScreenZombie {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(120vw);
  }
}

@keyframes smash {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes unSmash {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes moveAcrossScreenRunner {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(200vw);
  }
}

@keyframes moveAcrossScreenCar {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(300vw);
  }
}

@keyframes moveAcrossScreenMoto {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-200vw);
  }
}

@media (max-width: 900px) {
  .hero {
    object-fit: cover;
  }

  .background {
    object-fit: cover;
  }
}

/* @media (max-width: 600px) {
  .hero {
    overflow-x: hidden;
    width: 200vw;
  }

  .background {
    width: 200vw;
    overflow-x: hidden;
  }

  .walkerprueba {
    width: 200vw;
    overflow-x: hidden;
  }
} */
