.hero {
    display: flex;
    position: relative;
    justify-content: center;    
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
}

.walker-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 50px;
    overflow: hidden;
    animation: moveAcrossScreen 35s linear infinite;
}
  
.walker {
    width: 800px;
    animation: walkAnimation 1s steps(16) infinite;
}

.hidden {
    opacity: 0;
    transition: opacity .7s ease;
}

@keyframes walkAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-800px); 
    }
}

@keyframes moveAcrossScreen {
    from {
      transform: translateX(-40px);
    }
    to {
      transform: translateX(120vw); 
    }
}