.navbar {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 0;
  align-items: center;
  width: 100dvw;
  font-family: "Major Mono Display", monospace;
  transition: backdrop-filter 1s ease-in-out;
}

.backdrop {
  backdrop-filter: blur(10px);
}

.home {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  width: 30dvw;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  margin-left: 4rem;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  width: 100dvw;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .home {
    display: none;
  }

  .nav-links {
    margin-left: -3rem;
    justify-content: space-around;
    gap: 1rem;
  }
}
