.stack {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 80vw;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  color: #ffffff;
  margin-top: 10rem;
  padding: 5rem;
}

.logo {
  width: 70px;
  transition: all 0.5s;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .stack {
    margin-left: -3rem;
  }
}
